{% extends 'base.html' %}
{% block content %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


{% load crispy_forms_tags %}

<div class="card">
  
    <h1>Fighter Profile of - {{ profile.userprofile.username }}</h1>
    <p>Description: {{ profile.description }}</p>
    <p>Weight: {{ profile.weight }}</p>
    <p>Martial Art: {{ profile.martial_art }}</p>
    <p>Location: {{ profile.location }}</p>
    <p>Birthday: {{ profile.birthday }}</p>
    <p>Fighting Experience in years: {{ profile.experience_years }}</p>
    <p>Home gym: {{ profile.gym }}</p>
    <p>Head Coach: {{ profile.trainer }}</p>
    <p>Total number of Fights: {{ profile.fight_record }}</p>

    <a href="#"><i class="fa fa-whatsapp"></i></a>
    <a href="{% url 'dialogs_detail' profile.userprofile.username  %}"> <button>Contact</button></a>

  </div>
  
  <a class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}" >Back</a>
{% endblock %}
