{% extends 'base.html' %}
{% load static %}
// https://www.bootdey.com/snippets/view/bs4-seller-cards#css
<head>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all">
    
{% block css %}
{% endblock css %}

</head>

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<h2> Fighter Profiles </h2>
<div class="container">
<div class="row">
    <ul>
        {% for result in result_list %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="panel panel-default userlist">
                  <div class="panel-body text-center">
                    <div class="userprofile">
                      <div class="userpic"> <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" class="userpicimg"> </div>
                        <div class="username"> <a href="{% url 'SparringsPartner24:fighter_profile' result.id %}" >{{ result.userprofile.username }}</a></div>
                    </div>
                    <p>Motto: {{ result.description }}</p>
                    <div class="socials tex-center"> <a  class="btn btn-circle btn-primary ">Alter: {{ result.age }}</a> <a class="btn btn-circle btn-danger ">{{ result.weight }} kg</a>  <a class="btn btn-circle btn-info ">Hauptkamfsport: {{ result.martial_art }}</a> <a  class="btn btn-circle btn-warning ">City: {{ result.location }}</a> </div>
                  </div>
                  <div class="panel-footer"> <a href="{% url 'dialogs_detail' result.userprofile.username  %}" class="btn btn-link">Connect</a> </div>
                </div>
            </div>

        {% endfor %}
    </ul>
</div>
</div>
{% endblock %}