<h1>SparringsPartner24</h1>

<p> Was geht ^^ </p>
<p> Bist grad auf Art App wo man andere leute zum bügeln finden kann so </p>

<p> Ja kp das kannste halt machen:</p>
<ul>
    <p><a href="{% url 'SparringsPartner24:search_engine' %}"> Search Engine</a></p>
    <p><a href="{% url 'SparringsPartner24:get_all_fighters' %}"> Check Out all Fighters</a></p>
    <p><a href="{% url 'SparringsPartner24:edit_user_profile' 1 %}"> Edit your User Profile</a></p>
    <p><a href="{% url 'SparringsPartner24:edit_fighter_profile' 1 %}"> Update your Fighter Profile</a></p>  
    <p><a href="{% url 'SparringsPartner24:edit_search_profile' 1 %}"> Update your Preference Profile</a></p>        
</ul>