
{% extends 'base.html' %}  
{% block content %}

<h2>Search Engine</h2>

{% load crispy_forms_tags %}

<form method="post" class="uniForm">
    {% csrf_token %}
    {{ form|crispy }}
    MIN ja: <input type="text" id="minja" name="minja" value=76 />
    MAX ja: <input type="text" id="maxja" name="maxja" />
    
    <button type="submit" class="btn btn-primary">Suchen</button>
    <div id="slider-range"></div>
</form>

<a class="btn btn-primary" href="{% url 'SparringsPartner24:index' %}">Back</a>

{% endblock %}


{% block extra_js %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
    var a = ""
    $( function() {
     var val =   document.getElementById('minja').value
      $( "#slider-range" ).slider({
        range: true,
        min: 0,
        max: 500,
        values: [ val, 300 ],
        slide: function( event, ui ) {
          $( "#minja" ).val( ui.values[ 0 ]) + $( "#maxja" ).val( ui.values[ 1 ]) ;
        }
      });
    } );
    </script>
{% endblock %}