<!DOCTYPE HTML>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=2.0">

        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
        <link href="{% static 'css/sidebar.css' %}" rel="stylesheet" type="text/css" media="all">

        {% block css %}{% endblock %}

    </head>

    <body>
        <!--page block includes a navigation and a content block -->
        <div class="page">
          <!--navigation-->
          <nav class="nav">
            <!--close button-->
            <div class="nav__close"></div>
            <!--navigation list-->
            <ul class="nav__list">
              <!--navigation item-->
                {% if user.is_authenticated %}
              <li class="demo-btn">
                <!--navigation link--><a class="nav__link" href="{% url 'SparringsPartner24:search_engine' %}" title="Search Engine"><i class="nav__link-icon material-icons"></i>Search Engine</a>
              </li>
              <!--navigation item-->
              <li class="demo-btn js-active">
                <!--navigation link--><a class="nav__link" href="{% url 'SparringsPartner24:get_all_fighters' %}" title="Check Out all Fighters"><i class="nav__link-icon material-icons"></i>Check Out all Fighters</a>
              </li>
              <!--navigation item-->
              <li class="demo-btn">
                <!--navigation link--><a class="nav__link" href="{% url 'SparringsPartner24:edit_user_profile' %}" title="Search Engine"><i class="nav__link-icon material-icons"></i>Edit User Profile</a>
              </li>
                    {% if not has_fighterprofile %}
              <!--navigation item-->
              <li class="btn btn-danger">
                <!--navigation link--><a class="nav__link" href="{% url 'SparringsPartner24:edit_fighter_profile' %}" title="Search Engine"><i class="nav__link-icon material-icons"></i>Create Fighter Profile</a>
              </li>
                    {% else %}
              <!--navigation item-->
              <li class="demo-btn">
                <!--navigation link--><a class="nav__link" href="{% url 'SparringsPartner24:edit_fighter_profile' %}" title="Search Engine"><i class="nav__link-icon material-icons"></i>Edit Fighter Profile</a>
              </li>
                    {% endif %}
              <!--navigation item-->
                    {% if not has_fighterprofile %}
              <!--navigation item-->
              <li class="btn btn-danger">
                <!--navigation link--><a class="nav__link" href="{% url 'SparringsPartner24:edit_search_profile' %}" title="Search Engine"><i class="nav__link-icon material-icons"></i>Create Preference Profile</a>
              </li>
                    {% else %}
              <!--navigation item-->
              <li class="demo-btn">
                <!--navigation link--><a class="nav__link" href="{% url 'SparringsPartner24:edit_search_profile' %}" title="Search Engine"><i class="nav__link-icon material-icons"></i>Edit Preference Profile</a>
              </li>
                    {% endif %}
              <li class="demo-btn js-active">
                <!--navigation link--><a class="nav__link" href="{% url 'dialogs' %}" title="Chats"><i class="nav__link-icon material-icons"></i>Chats</a>
              </li>
              <li class="demo-btn">
                <!--navigation link--><a class="nav__link" href="{% url 'password_change' %}" title="Change password"><i class="nav__link-icon material-icons"></i>Change password</a>
              </li>
              <li class="demo-btn">
                <!--navigation link--><a class="nav__link" href="{% url 'logout' %}" title="Logout"><i class="nav__link-icon material-icons"></i>Logout</a>
              </li>
                {% else %}
                <li class="demo-btn">
                <!--navigation link--><a class="nav__link" href="{% url 'login' %}" title="Logout"><i class="nav__link-icon material-icons"></i>Login</a>
                </li>
                {% endif %}
            </ul>
          </nav>
          <!--content part-->
          <div class="page__content">
            <!--open navigation button-->
            <div class="nav-open-btn">
              <div class="nav-open-btn__bar"></div>
              <div class="nav-open-btn__bar"></div>
              <div class="nav-open-btn__bar"></div>
            </div>
            <!--content block-->
            <div class="content">
            <h1><a href="{% url 'SparringsPartner24:index' %}"> <span>Sparringspartner24</span></a> - Hier gibt's aufs Maul</h1>
              <!--demo buttons-->
                {% block content %}{% endblock %}
            </div>
          </div>
        </div>
    </body>

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollmonitor/1.2.0/scrollMonitor.js"
            integrity="sha256-BseZlDlA+yL4qu+Voi82iFa5aaifralQEXIjOjaXgeo=" crossorigin="anonymous"></script>
    <script>
                //CODE TO USE ON YOUR WEBSITE - !!! YOU NEED IT

            //hide nav open btn when the nav is open, adding/removing open classes to nav and content
            var navOpenBtn = document.querySelector(".nav-open-btn");
            var navCloseBtn = document.querySelector(".nav__close");
            var nav = document.querySelector(".nav");
            var pageContent = document.querySelector(".page__content");
            var navList = document.querySelector(".nav__list");
            var page = document.querySelector(".page");

            //open nav
            navOpenBtn.addEventListener("click", function () {
            navOpenBtn.classList.add("js-hidden");

            nav.classList.add("js-opened");

            pageContent.classList.add("js-opened");
            });

            //close nav
            navCloseBtn.addEventListener("click", function () {
            navOpenBtn.classList.remove("js-hidden");

            nav.classList.remove("js-opened");

            pageContent.classList.remove("js-opened");
            });

            //closing navigation if click outside it
            page.addEventListener("click", function (e) {
            var evTarget = e.target;

            if (
            evTarget !== nav &&
            nav.classList.contains("js-opened") &&
            evTarget !== navOpenBtn &&
            evTarget.parentNode !== navOpenBtn
            ) {
            console.log(navOpenBtn.firstChild);

            navOpenBtn.classList.remove("js-hidden");

            nav.classList.remove("js-opened");

            pageContent.classList.remove("js-opened");
            }
            });

            //DEMO CODE - !!!YOU DON'T NEED IT
            var demoBtns = document.querySelectorAll(".demo-btn");

            //adding default demo classes
            nav.classList.add("nav--offcanvas-1");
            pageContent.classList.add("page__content--offcanvas-1");

            //change demo on btn click
            demoBtns.forEach(function (el, ind) {
            el.addEventListener("click", function () {
            //add active class to active btn
            demoBtns.forEach(function (el) {
              el.classList.remove("js-active");
            });

            this.classList.add("js-active");

            //add proper classes for effects
            var effClass = ind + 1;

            nav.classList.remove("js-opened");

            pageContent.classList.remove("js-opened");

            navCloseBtn.classList.remove("js-opened");

            navList.classList.remove("js-opened");

            navOpenBtn.classList.remove("js-hidden");

            nav.classList.remove(nav.classList[1]);

            nav.classList.add("nav--offcanvas-" + effClass);

            pageContent.classList.remove(pageContent.classList[1]);

            pageContent.classList.add("page__content--offcanvas-" + effClass);
            });
            });
    </script>

<a href="{% url 'SparringsPartner24:index' %}">Zurück</a>
{% endblock %}
<footer>
<p>&copy; Mercy Development Studios </p>
</footer>

</html>